<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment Management System</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Apartment Management System</h1>
        <button onclick="window.location.href='/add_tenant'">Add Tenant</button>
        <button onclick="window.location.href='/add_lease_apartment'">Add Lease Apartment</button>
        <button onclick="window.location.href='/show_tenants'">Show Tenants</button>
        <button onclick="window.location.href='/show_leased_apartments'">Show Leased Apartments</button>
    </div>
</body>
</html>
